@charset "utf-8";
.button
{
	background:#088A08;
	border:0;
	border-radius: 30px;	
	color:#FFFFFF;
	opacity:0.8;
	cursor:pointer;
	margin-bottom:0;
	width:150px;
    margin:auto auto;
	padding:10px;
	font-size:18px;
	font-weight:bold;
}

.button:hover
{
	background:#0C0;
}

.button:active
{
	transform: scale(1.2);
}

body
{
	margin:0;
	padding:0;
	background-color:#D6DBDF;
	min-height:100vh;
	flex-wra:wra;
}

.fila
{
height: 500px;
/*box-shadow:0px 0px 20px #000000, 0px 0px;	*/
}

.sect
{
	background-color: #ccc;
}

.ap
{
	background:rgba(0,0,255,0.2);
	color: white;
	height:150px; 
	width:40%;
	border-radius: 10px;
	box-shadow: 20px 20px 20px #000000, 0px 0px;;
}



.con
{
	padding: 20px;
	background-image: url(../img/tecnologia1.jpg);
	width: 35%;
	height: 200px;
	border-radius: 10px;
	box-shadow:10px 10px 10px #000000, 0px 0px;;
}

.columna > img 
{
 	padding: 14px 0px ;
 	width: 100%;
 	height: 100%;
}

.columna
{
	border:2px solid black;
	background-color: rgba(49, 48, 48, 1);
	/*box-shadow:0px 0px 40px #00CC00, 0px 0px;*/
	border-radius: 10px;
}

.columna > h1 
{
	text-align: center;
	color: white;
}

.columna1
{
	border:2px solid black;
	background-color: #ccc;
	/*box-shadow:0px 0px 40px #00CC00, 0px 0px;*/
	border-radius: 10px;
	color: black;
}
	
.container
{
	max-width: 1350px;
}

/*.banner{
	background-color:#088A08;
	position:absolute;
	width:100%;
	height:90px;
	border-radius:0px;
	margin:0;
	padding:0;
	border:1px solid black;
	right:0.5px;
	z-index:200;
	}*/
footer
{
	align-self:flex-end;
	background-color:#000;
	color:#fff;
	font-family:Verdana, Geneva, sans-serif;
	line-height:center;
	width:100%;
	height: 115px;
	font-size: 10px;
	padding:5px 0px 10px 10px;	
    bottom: 0;
    margin:0px;
	/*margin-top: 127px;*/

}
	
footer > img
{
	width:150;
	float:right;
}

/*.img{
	position:absolute;
	right:35px;
	top:1px;	
	display:inline;
	border-radius:20px;
	}
.logo{
	position:absolute;
	left:50px;
	}*/
	
p
{
	font-family:Calibri Light (Títulos);
}

.letra > p
{
	font-size:24px;
	text-align:justify;
	padding:5px 10px;
	color: white;
}




.login 
{
	box-shadow:0px 0px 40px #00CC00, 0px 0px;
	margin:auto;	
}



.social 
{	
	position:fixed;
	left:0;
	top:350px;
	z-index:2000;
}

.social li
{
	list-style:none;
}
	
.social ul li a 
{
	display:inline-block;
	color:#fff;
	background:#000;
	padding:15px 20px;
	text-decoration:none;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;	
}

.social ul li .icon-facebook2 {background:#3b5998;	border-top-right-radius:30%;}
.social ul li .icon-instagram {background:#517fa4;}
.social ul li .icon-twitter   {background:#00aced;}
.social ul li .icon-youtube {background:#bb0000; border-bottom-right-radius:30%;}

.social ul li .icon-facebook2:hover {padding:20px 40px; background:#3b5998;}
.social ul li .icon-instagram:hover {padding:20px 40px; background:#517fa4;}
.social ul li .icon-twitter:hover   {padding:20px 40px; background:#00aced;}
.social ul li .icon-youtube:hover {padding:20px 40px; background:#bb0000;}

.login
{
	width: auto;
	margin: auto;
	height:auto;
	background-color: rgba(120,120,120, .5);
	border: 1px solid #000;
	box-shadow: 0px 0px  40px #009900,0px 0px;
	transition: 2s;
	text-align: center;
}
	
form
{
	margin:auto;
}

.input
{
	alignment-adjust:central;
	padding:8px;
	border-radius:10px;
	border-top-style:groove;
	margin-bottom:20px;
	max-width: 95%;
}

form > p
{
	text-align:center;
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	}

.navbar
{
	background-color:black;
	margin-right: 16px;	 
}

.navbar-brand,.navbar-brand:hover
{
  background-color:black;
  color: white;  
}

.nav-link
{
  color: white;
}

.nav-link:hover
{
  color: white;
  background-color: green;
}

.slider
{
	width: 71%;
	margin: auto;
}

.td >a
{
	color: white;
}


.ed
{
	background-color:#58D3F7;	
	width: 150px;
	height: auto;
	border-radius: 5px;
	border:0px;
}

.ms
{
	font-size: 900px;
}

.ar
{
	height: 40px;
	border-radius: 10px;	
	border-bottom:  3px solid black;
	transition: 2000000ms;
	max-width: 100%;
	margin-right:20px;
}
		
.sl
{
	height: 40px;
	border-radius: 10px;
	max-width: 25%;
}

.sm
{
	background: green;
	height: 35px;
	width: 80px;
	border-radius: 5px;
	color: white;
}

.sm:hover 
{
	background: #04B404;
}

.sm:active
{
	transform: scale(1.2);
}

#ip
{

	background: #035c6f;
	color:white;
	border-radius: 8px;
	padding: 1px;
	box-shadow: 5px 5px  10px #000000,0px 0px;
}

#ip :hover
{
	background: #0B0B3B;
}

#ipe
{
	background: #FF0000;
	color:white;
	border-radius: 8px;
	padding: 1px;
	box-shadow: 5px 5px  10px #000000,0px 0px;
}

#ipe:hover
{
	background: #B40404;
}

.et
{
	background-color:#58D3F7;
	width: 200px;
	height: auto;
	border-radius: 5px;
	border:0px;
}

a
{
 color: red;
}

.exito
{
	width: 71%;
	margin: auto;
}

.bt1
{
	font-size: 20px;
	height: 40px;
	width: 300px;
	background: green;
	border-bottom:;
	border-radius: 10px;
	border-color:white;
	color: white;
}

.bt1:hover
{
	background: #04B431;
}

.le > a:hover
{
	text-decoration: none;
}

.mol
{
	background:blue;
}

.form-control{

	width: 95%;
	border-radius: 10px;
}

/* FORMULARIO =================================== */

.form_wrap{
    width: 1150px;
   /* height: 725px;*/
    margin: 50px auto;
    display: flex;

    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

/* Informacion de Contacto*/

.cantact_info::before{
    content: '';
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background:  rgba(1, 0, 5, 0.7);
    opacity: 0.9;
}

.cantact_info{
    width: 38%;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url('../img/baner.jpg');
    background-size: cover;
    background-position: center center;

}

.info_title,
.info_items{
    position: relative;
    z-index: 2;
    color: #fff;
}


.info_title{
    margin-bottom: 60px;
}

.info_title span{
    font-size: 100px;
    display: block;
    text-align: center;
    margin-bottom: 15px;
}

.info_title h2{
    font-size: 35px;
    text-align: center;
}

.info_items p{
    display: flex;
    align-items: center;

    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.info_items p:nth-child(1) span{
    font-size: 30px;
    margin-right: 10px;
}

.info_items p:nth-child(2) span{
    font-size: 50px;
    margin-right: 15px;
    margin-left: 4px;
}


/* Formulario de contacto*/
form.form_contact{
    width: 62%;
    padding: 30px 40px;
}

form.form_contact h2{
	font-size: 25px;
	font-weight: 600;
	color: #303030;
	margin-bottom: 30px;
}

form.form_contact .user_info{
    display: flex;
    flex-direction: column;
}

form.form_contact label{
    font-weight: 600;
}

form.form_contact input,
form.form_contact select{
    width: 100%;
    padding: 8px 0px 5px;
    margin-bottom: 20px;
    
    border: none;
    border-bottom: 2px solid #D1D1D1;

   
	color: #5A5A5A;
	font-size: 14px;
	font-weight: 400;
}

form.form_contact input:focus,
{
border-top-style: none;
border-top-color: white;

}

form.form_contact select{
    max-width: 100%;
    min-width: 100%;
  /*  max-height: 90px;*/
}

form.form_contact input[type="submit"]{
    width: 180px;
	background:  #00ad5f;
	padding: 10px;
	border: none;
	border-radius: 25px;

    align-self: flex-end;

    color: #fff;
	font-family: 'Open sans';
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
}

form.form_contact input[type="submit"]:hover{
    background: #333333;
}
.terminos{
width: 180px;
	background:  #00ad5f;
	
	border: none;
	border-radius: 15px;

    align-self: flex-end;

    color: #fff;
	font-family: 'Open sans';
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;

}

/* Ventana de errores*/
.modal_wrap{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.7);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mensaje_modal{
    background: #fff;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
    width: 400px;
    padding: 30px 20px 15px;
}

.mensaje_modal h3{
    text-align: center;
    font-family: 'Ubuntu';
	font-size: 20px;
	font-weight: 400;
}

.mensaje_modal h3:after{
    content: '';
	display: block;
	width: 100%;
	height: 1px;
	background: #C5C5C5;
	margin: 10px 0px 15px;
}

.mensaje_modal p{
    font-size: 16px;
    color: #606060;
}

.mensaje_modal p:before{
    content: "\f00d";
    font-family: FontAwesome;
    display: inline-block;
    color: #E25151;
    margin-right: 8px;
}

#btnClose{
    display: inline-block;
	padding: 3px 10px;
	margin-top: 10px;

	background: #E25151;
	color: #fff;
	border: 2px solid #B14141;
	cursor: pointer;

	float: right;
}