@charset "utf-8";
/* CSS Document */

.banner{
	background-color:#088A08;
	position:absolute;
	width:100%;
	height:90px;
	border-radius:20px;
	margin:0;
	padding:0;
	border:1px solid #00C;
	right:0.5px;
	z-index:200;
	}
	
.img{
	position:absolute;
	right:35px;
	top:1px;	
	display:inline;
	border-radius:20px;
	}

.p #apDiv1 h1 {
	text-align: center;
}
.p #apDiv1 p {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	
              }

#apDiv1 {
	position: absolute;
	width: 835px;
	height: 104px;
	z-index: 1;
	left: 442px;
	top: -26px;
}

form {
	margin:auto;
	width:1350px;
	background-color:#FFF;
	border:solid #CCC;	
	transition:2s;
	box-shadow:0px 0px 40px #00CC00, 0px 0px;
	border-radius:10px;
	margin-top:100px;
	}
	
label {
	font-size:12px;
	display:block;
	width:100%;

	
	
	}

select {
	padding:10px;
	font-family:Verdana, Geneva, sans-serif;
	box-shadow:0px 0px 20px #CCCCCC, 0px 0px;
	
	}
form > p {
	
	font-family:Verdana, Geneva, sans-serif;
	
		
	}

input , textarea {
	margin-bottom:20px;
	width:500px;
	padding:10px;
	border:2px solid #CCC ;
	border-radius:10px;
			
			}
td{
	padding:5px;
	
	}
	
input:focus, textarea:focus {
	border: 1px solid #3F0;	
	}
	
textarea{
	max-width:900px;
	min-width:100px;
	max-height:300px;
	min-height:100px;	
	
	}
	
.derecha{
	position:absolute;
	right:25%;
	z-index:1000px;
	
	
	}

input[type="submit"]
{
	margin:auto;
	margin-bottom:0;
	background:#088A29;
	color:#fff;
	border:none;
	width:200px;	
	}
	
input[type="submit"]:hover
{
	background:#04B404;
	cursor:pointer;
	
	}